# NetBeans specific
/nbproject/private/*
/build/*
/nbbuild/*
/dist/*
/nbdist/*
nbactions.xml
nb-configuration.xml
/trabalho_final_hospital/build/
/trabalho_final_hospital/dist/
/trabalho_final_hospital/nbproject/private/